<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/inscrever.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscrever</title>
</head>
<body style="background-color:rgb(139, 139, 139);">
    <div class="container">
        <header>
        <h1>Trabalho - PTAS3</h1>
       </header>
    
       <main>
       <div class='card'>
        <h2>Inscrever</h2>
       <form action="/cadastro" method="post">
        <span class="nome" for="senha">Nome Completo</span>
            <input type="text" name="nome" id="nome">
           <span class="nome" for="usuario">Usuario</span>
           <input type="text" name="usuario" id="usuario">
            <span class="nome" for="senha">Senha</span>
            <input type="password" name="senha" id="senha">
         
        <button type="submit">inscrever</button>
       </form>
       </div>
       </div>
    
       </main>
    
       <footer>
        Guilherme Ferreira Tombini - INFO 6
       </footer>
    </div>

   
</body>
</html>