<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/usuarios.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <div class="container">
        <header>
        <h1>Trabalho - PTAS3</h1>
       </header>
    
       <main>
       <div class='card'>
       <h1>Usuarios cadastrados</h1>
       
       <div class="tabela">
       <table>
         <tr>
           <th>Nome Completo</th>        
           <th>Usuario</th>     
           <th>Senha</th>  
         </tr>
         <% resultado.forEach (function(usuario){ %>
         <tr>
            <td><%= usuario.nome %></td>        
            <td><%= usuario.usuario %></th>     
            <td><%= usuario.senha %></td>  
          </tr>
        <% }); %>
     </table>
    </div>

       </div>
    
       </main>
    
       <footer>
        Guilherme Ferreira Tombini - INFO 6
       </footer>
    </div>

   
</body>
</html>