<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <form action="/logar" method="post">
    <label for="user"></label>
    <input type="text" name="user" id="user">
    <label for="password"></label>
    <input type="text" name="password" id="password">

    <input type="submit" value="Logar">
  </form>
</body>
</html>