<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
</head>
<body style="background-color:rgb(139, 139, 139);">
    <div class="container">
        <header>
        <h1>Trabalho - PTAS3</h1>
       </header>
    
       <main>
       <div class='card'>
       <h2>Pagina Inicial</h2>
       <p>Bem vindo ao nosso site, depois de logado, você pode deslogar com o botão abaixo</p>
       <form action="/deslogar" method="post">
        <button type="submit">Deslogar</button>
      </form>
       </div>
    
       </main>
    
       <footer>
        Guilherme Ferreira Tombini - INFO 6
       </footer>
    </div>

   
</body>
</html>